@model Ecommerce2.Models.NhanVien

@{
    ViewData["Title"] = "Create";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminNhanVien" asp-action="Index">Quản lý nhân viên</a>
            <span class="breadcrumb-item active">Thêm mới nhân viên</span>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="AdminNhanVien" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="media align-items-center m-b-15">
                <h4>Thông tin nhân viên</h4>
            </div>
            <div class="form-group">
                <label asp-for="MaNv" class="control-label">Mã nhân viên</label>
                <input asp-for="MaNv" class="form-control" />
                <span asp-validation-for="MaNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label">Tên nhân viên</label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label">Mật khẩu</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaPq" class="control-label">Phân quyền</label>
                <input asp-for="MaPq" class="form-control" />
                <span asp-validation-for="MaPq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success btn-tone m-r-5" asp-action="Index">Quay lại danh sách</a>
</div>