
@{
    ViewData["Title"] = "PaymentFail";
}

<h1 style="text-align:center">Thanh toán thất bại!</h1>

<div class="container">
    <a asp-controller="SanPham" asp-action="Index">Tiếp tục mua hàng</a>
    <h3 style="margin-top:5px">Hoặc</h3>
    <a asp-controller="Home" asp-action="Index">Về trang chủ</a>
</div>
