@model Ecommerce2.Models.TrangThai

@{
    ViewData["Title"] = "Details";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminTrangThai" asp-action="Index">Quản lý trạng thái</a>
            <span class="breadcrumb-item active">Chi tiết trạng thái</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin trạng thái</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã trạng thái:</td>
                        <td class="text-dark font-weight-semibold">@Model.MaTrangThai</td>
                    </tr>
                    <tr>
                        <td>Tên trạng thái:</td>
                        <td>@Model.TenTrangThai</td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Model.MoTa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-success btn-tone m-r-5" asp-action="Edit" asp-route-id="@Model?.MaTrangThai">Sửa</a> |
    <a class="btn btn-success btn-tone m-r-5" asp-action="Index">Quay lại danh sách</a>
</div>